<html>
    <head>
        <title>Custom quiz website</title>
        <link rel="stylesheet" href="static/styles/home_styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="topnav">
            <a href="#home">Home</a>
            <a href="#news">News</a>
            <a href="#contact">Contact</a>
            <div class="search-container">
                <form>
                  <input type="text" placeholder="Search.." name="search">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <a href="#help" class="split">Help</a>
            <a href="#signup" class="split">Sign up</a>
            <a href="#login" class="split">Login</a>
        </div>
        <h1 style="text-align: center; font-size: 50px;">DevOps Quiz website</h1>
        <div style="width: 100%;">
            <h3 style="margin: 30px 200px;">
                Try one of the already created quizzes or create your own quizzes. Answer questions about the most commonly used DevOps tools
                such as Docker, Kubernetes, Terraform and more. 
            </h3>
        </div>
        <div>
            <h2 style="text-align: center; margin: 30px; padding: 20px;">Official quizzes</h2>
        </div>
        <div style="text-align: center;">
            <div style="position: relative; display: inline-block; box-shadow: 10px 10px; margin: 0px 50px; width: 300px; border: 2px solid black; height: 400px; vertical-align: top;">
                <img src="static/images/docker_logo.png" height="200px" width="300px">
                <p>Docker is an open platform for developing, shipping, and running applications. This quiz pack contains Docker Basics and Docker Certified Associate (DCA) quizzes.
                </p>
                <button class="custom_quiz_button">Start learning</button>
            </div>
            <div style="position: relative; display: inline-block; box-shadow: 10px 10px; margin: 0px 50px; width: 300px; border: 2px solid black; height: 400px; vertical-align: top;">
                <img src="static/images/kubernetes.jpg" height="200px" width="300px">
                <p>
                    Kubernetes is a portable, extensible, open source platform for managing containerized workloads and services. 
                    This quiz pack contains Kubernetes Basics and Kubernetes Certified Administrator (KCA) quizzes.
                </p>
                <button class="custom_quiz_button">Start learning</button>
            </div>
        </div>
    </body>
</html>